/* #region GENERAL & CONTENT BEGRENZUNG */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  position: relative;
}
header,
main,
footer {
  /* max-width: 1920px; */
  display: flex;
  justify-content: center;
}
.content {
  width: 100%;
  max-width: 1920px;
  display: flex;
  padding: 60px;
}
@media (max-width: 420px) {
  .content{
    padding: 48px 24px;
  }
}
@media (max-width: 342px) {
  .content{
    padding: 32px 8px;
  }  
}
/* #endregion */

/* #region FONTS */
@font-face {
  font-family: Quicksand-Regular;
  src: url(assets/fonts/Quicksand-Regular.ttf);
}
@font-face {
  font-family: Quicksand-Bold;
  src: url(assets/fonts/Quicksand-Bold.ttf);
}
html {
  font-size: 10px;
}
body {
  font-family: "Quicksand-Regular", "sans-serif";
  color: #f9f1dc;
  font-size: 1.6rem;
}
h1 {
  font-family: "Quicksand-Bold";
  font-size: clamp(2rem, 3dvw, 6rem);
  font: weight 700;
  color: #f26350;
}
h2 {
  font-size: clamp(1.7rem, 2.2dvw, 1.8rem);
  font-family: "Quicksand-Bold";
  color: #f26350;
}
h3{
  font-size: clamp(1.8rem, 2.5dvw, 2rem);
  color: #ffbf41;
}
/* #endregion */
